site_name: FM
site_url: https://github.com/omartek/manuale-FM
docs_dir: gitbook/
theme:
    name: readthedocs
    highlightjs: true
    hljs_languages:
        - yaml
nav:
    - ' Manuale - FM':
        - 'Manuale': './guida_FAB-Manager.md'
